<div *ngIf="originalPdfPath && outputDirectory" style="height: 96vh; width: 28vw;; border: black 1px solid; padding-left: 5px">
    <div>
        <div #a style="display: grid; grid-template-columns: auto; width: 100%;margin-top: 5px">
            <div style="text-align: start">
                <span style="; text-decoration: underline;">Output directory</span>
            </div>
        </div>
        <div style="align-self: flex-start; font-size: smaller; padding-top: 5px" #b>{{ getNormalizedOutputPath() }}</div>
    </div>
    <div style="padding-top: 30px">
        <div>current page: {{ currentPage === undefined || currentPage === null ? 'undefined' : currentPage }}</div>
        <div>total pages: {{ totalPages }}</div>
    </div>
    <div style="padding-top: 30px">
        <button [disabled]="cutButtonIsDisabled()" (click)="onClickCut()">
            Cut
        </button>
        <span *ngIf="!outputDirectory; else hasOutputDirectory" style="font-style: italic; font-size: smaller"> First select output directory!</span>
        <ng-template #hasOutputDirectory>
            <span *ngIf="this.currentPage !== null && this.currentPage > 1"
                  style="font-style: italic; font-size: smaller; padding-left: 10px">Split off pages 1 to {{ currentPage - 1 }}</span>
        </ng-template>
    </div>
    <div *ngIf="splitFiles.length >0" style="padding-top: 30px">
        <div style="text-align: start; text-decoration: underline;">Split Files</div>
        <ul>
            <li style="font-size: smaller; font-style: italic" *ngFor="let item of splitFiles">
                {{ item }}
            </li>
        </ul>

    </div>

</div>